<div id="content">
<h1><%= @page_h1 = 'New Department' -%></h1>
<p>Fill in the form with the name of the department and its subjects.</p>
<%= render :partial => "department_form" %>

<%= link_to "Return to course catalog", departments_path %>

</div>
