<div id="content">
<h1><%= @page_h1 = "#{@student.full_name} Attendance"  %></h1>
<% for section in @sections do %>
<div class="absence_calendar">
 <h3><%= section.name %></h3>
 <%= absence_calendar(@year, @month, section, @absences[section.id]) %>
</div>
<% end %>
</div>
<div id="secondary">
<h2>Change Month</h2>
 <ul>
 <% begin %>
  <% @date ||= @start %>
  <li><%= link_to_unless_current @date.strftime("%B"), individual_section_attendance_path(@student, :month => @date.month, :year => @date.year) %></li>
  <% @date = @date.next_month %>
  <% end while @date <= @finish %>
 </ul>
</div>
