   <li id='styleswitch' title='change font size'><ul>
    <li><%= link_to "Enlarge", {:stylesheet => 'large'}, {:title => 'click to enlarge text', :class => 'big'} %></li>
    <li><%= link_to "Shrink", {:stylesheet => 'term'}, {:title => 'click to shrink text'} %></li>
   </ul></li>
