<% @page_title = 'Searching for Administrators' %>
<div id="content">
 <h1>Search Help Page</h1>
 <p>Not sure what to say here.</p>
</div>
<div id="secondary">
  <%= render 'help/page/shared/tech_support',
      :subject => 'adding administrator accounts' -%>
</div>
