<% @page_title = 'Administrator' %>
<div id="content">
 <h1>Administrator Help Page</h1>
 <p>This page is, admittedly, pretty lame. It just lists the administrator&#8217;s login history. If there is something else about administrator accounts that you would like to see on this page, let us know in the <%= link_to "help forums", forums_path('help') %>.</p>
 <h2>Editing Administrators</h2>
 <p>To edit an administrator, look for the <code>edit</code> link on the <em>Administrators List</em> page.</p>
</div>
<div id="secondary">
  <%= render 'help/page/shared/tech_support',
      :subject => 'an administrator account' -%>
</div>
