<% @page_title = 'Term' %>
<div id="content" class="help">
 <h1>Term Editing Help Page</h1>
 <p>You may have expected to see more options on the <em>term editing</em> page than the daily schedule. The links to edit other parts of the term are on different places on the <em>term</em> page:</p>
 <dl class="notice">
  <dt>Marking Period Dates</dt><dd>Click the number of a track in the marking period table</dd>
  <dt>Marks</dt><dd>Click the word <em>marks</em> at the top of the list of marks</dd>
 </dl>
</div>
<div id="secondary">
 <h2>Related Topics</h2>
 <%= link_to "An example term", '/help/term' %>
 <hr/>
 <h2>Other Questions?</h2>
 <p>If there is something else you want to ask about terms, try the <%= link_to "help forums", forums_path('help') %> for Little<span class='company'>Red</span>Brick tech support.</p>
</div>
</div>
