<% @page_title = 'Mark' %>
<div id="content">
 <h1>Mark Help Page</h1>
 <p>The <em>mark</em> page relists the points earned by each student compared to the number of points available and calculates a percentage equivalent for each. A grade distribution histogram summarizes class performance by showing the number of A&#8217;s, B&#8217;s and C&#8217;s. If the mark is a marking period, a point distribution graph shows the percentage of assignments of each category (homework, test, etc).</p>
</div>
<div id="secondary">
  <%= render 'help/page/marks/related' -%>
  <%= render 'help/page/shared/tech_support', :subject => 'editing marks' -%>
</div>
