<% @page_title = "#{@section.name} Assignments" %>
<div id="content">
<h1>Assignments</h1>
<% if @grades.empty? %>
<p>No grades match the current search criteria.</p>
<% else %>
<div class="scrollableTable">
<table cellspacing="0" class="sortable">
<thead>
 <tr>
  <th>#</th>
  <th>Title</th>
  <th>Category</th>
  <th>Due Date</th>
  <th>Point Value</th>
  <th>Score</th>
  <th>Percentage</th>
 </tr>
</thead>
<tbody>
 <%= render(:partial => "grade", :collection => @grades) %>
 <%= filler_row(@grades, 7) %>
</tbody>
</table>
</div>
<% end %>
</div>
<%= render(:partial => "shared/assignment_form") %>
