<div id="content">
 <h1>Reading One Person&#8217;s Posts</h1>
 <p>Every <%= link_to "post", 'posts' %> lists its author&#8217;s name. If you would like to see all of that person&#8217;s posts in one place, click the name.</p>
</div>
<%= render(:partial => "help/general/discussions/forums") %>
