<% @page_title = 'File Upload' %>
<div id="content">
 <h1>Help Page</h1>
 <p>To upload grades, you need to have a spreadsheet file that basically looks like the gradebook table, with student information in the first column and grades on each assignment you want to upload in each column after that. You can upload Excel files or OpenOffice spreadsheets.</p>
 <p>Make sure you have already entered the assignments for which you are uploading grades.</p>
</div>
<div id="secondary">
  <%= render 'help/page/shared/tech_support', :subject => 'uploading grades' -%>
</div>
