<% @page_title = 'New Subject' %>
<div id="content">
 <h1>New Subject Help Page</h1>
 <p>Not much to say here. Choose a name for your new subject.</p>
 <p>Bear in mind that a <strong>subject</strong> is not the same thing as a <strong>section</strong>, or class. A subject would be something like "Algebra II". A section would be "Mr Messner&#8217;s first period Algebra II class".</p>
 <p>If you want to make a new <strong>section</strong>, go to a <em>teacher</em>&#8217;s page and click the <code>edit teaching load</code> link.</p>
</div>
<div id="secondary">
 <h2>Other Questions?</h2>
 <p>If there is something else you want to ask about creating subjects, try the <%= link_to "help forums", forums_path('help') %> for Little<span class='company'>Red</span>Brick tech support.</p>
</div>
