<div id="content">
<h1>About Parent Accounts</h1>
<p>Two parents are automatically entered into the database for every student that is added. The parent accounts for a student named 'Joe Average' will be created under the names 'joeaverage_m' and 'joeaverage_f'; once the parents have logged in (using that user name as login and password) they can edit their names and enter their own login/password combinations.
</p>
<p>A parent's account is automatically linked to a student - which is fine, unless the parent has more than one student. A parent should not have to remember separate logins to check on each of their students. If any students in your school are siblings, click <%= link_to "here", :action => 'siblings' %> to combine their parent accounts.
</p>
<p><%= link_to "Back", parents_path %> to the parents page.</p>
</div>
