<% @page_title = 'Editing a Parent' %>
<div id="content">
 <h1>Editing Parent Help Page</h1>
 <p>Each time a <strong>student</strong> account is created, two <strong>parent</strong> accounts are created with temporary names and logins. For instance, if an account is created for a student named <em>Harold Potter</em>, his login and password will be <code>haroldpotter</code>, and his parents&#8217; logins will be <code>haroldpotter_father</code> and <code>haroldpotter_mother</code>. Parents are asked to enter their real names, and choose their own passwords, the first time they log in. If you see a parent with a name that ends in <em>_mother</em> or <em>_father</em>, it is because that parent has never logged in.</p>
 <p>Before a parent logs in, you are able to edit their names to the proper form. When you do that, it is a good idea to <strong>reset</strong> the login and password as well.</p>
</div>
<div id="secondary">
 <%= render 'help/page/shared/tech_support', :subject => 'editing parent accounts' -%>
</div>
