<% @page_title = 'Parent' %>
<div id="content">
 <h1>Parent Help Page</h1>
 <p>This page shows the parent&#8217;s login history and complete family &ndash; each of the parent&#8217;s children, and each child&#8217;s parents. If the parent has contributed any comments to the parents discussion group lately, those are listed too.</p>
</div>
<div id="secondary">
 <%= render 'help/page/shared/tech_support', :subject => 'parent accounts' -%>
</div>
