<% @page_title = 'Student Assignments' %>
<div id="content">
 <h1>Student Assignments Help Page</h1>
 <p>The <em>student assignments</em> page lists information about the assignments for a single class, including the grades for one particular student and the class average.</p>
 <p>Each assignment number links to the page for that assignment.</p>
 <p>To select which assignments to see, use the form on the right side of the page.</p>
</div>
<div id="secondary">
 <h2>Other Questions?</h2>
 <p>If there is something else you want to ask about understanding assignments, try the <%= link_to "help forums", forums_path('help') %> for Little<span class='company'>Red</span>Brick tech support.</p>
</div>
