 <h2>Related Topics</h2>
 <p>These links are to general information about the site, not help on any specific page.</p>
 <ul>
  <li><%= link_to "Forums", '/help/discussions/forums' %></li>
  <li><%= link_to "Topics", '/help/discussions/topics' %></li>
  <li><%= link_to "Posts", '/help/discussions/posts' %></li>
 </ul>
 <hr/>

