<h3 id="section">Class Page</h3>
 <dl>
 <dt>How to get there</dt><dd><code>Students</code> tab &rarr; <code>[student name]</code> &rarr; <code>[class name]</code></dd>
 <dt>Summary</dt><dd>Comprehensive summary of a single class</dd>
 <dt>More information</dt><dd>The class page provides a high-level view of class academic performance with the class summary, detailed below:
 <%= render :partial => "class_summary" %>
<p>The class page also includes a table showing each student&#8217;s marking period grade, student scores on the three most recent assignments, and the number of posts each student has made to the class <%= link_to "discussions", :action => 'discussions' %>.</p>
</dd></dl>
<hr/>
