<div id="content">
 <h1><%= @page_h1 = "Editing Accounts" -%></h1>
 <h2>How To Get Here</h2>
 <p>The first time a user signs in to Little<span class='company'>Red</span>Brick, <span title="or she">he</span> is given the option to set <span title="or her">his</span> login and password to something more secure than the default. <span title="or she">He</span> may also supply an email address to use as a backup method of logging in.</p>
 <p>There is a link to get back to the <code>Edit Account</code> page in the top right corner of every page.</p>
 <h2>Security</h2>
 <p>It is a very good idea to change your login and password the first time you log in to the system. A strong password includes upper- and lowercase letters, numbers, and symbols (like !, @, #, $, etc). One way to create a strong but memorable password is to take a short phrase and substitute certain letters with numbers or symbols. For instance, <em>A Few Good Men</em> <span class="arrow">&rarr;</span> <code>@FewG00dMen</code>. Using this method, you can even violate the "no birthdays" rule of strong passwords: <em>February 6 1911</em> &rarr; <code>Febru@ry6!9!!</code></p>
 <h2>Logging In Through Email</h2>
 <p>There is a link on the login page to request login information be sent to your email address. The request will send an email that contains a link to your account info page, from which you can enter a login and password of your own choice. Of course, this only works if you have supplied an email address for your account.</p>
 <h2>Resetting Another User&#8217;s Account</h2>
 <p>A user who has forgotten his login and has not supplied an email address may request help from a school administrator. Administrator accounts have the capability to reset any user's login and password to the 'firstnamelastname' format of a new account. Teachers may reset accounts for students as well.</p>
 <h2>Note</h2>
<p>While the login and password are the most important features of user accounts, they are not the only things users can change. Administrators, teachers, and parents may also edit their own names and titles (Mr, Mrs, etc).</p>
<p>All users may set their own login and password, and have the option to supply an email address.</p>
</div>

