<div id="content">
<h1><%= @page_h1 = "Parent Accounts" -%></h1>
<p>A user with a parent account has the most limited access to the site. Parents may see:</p>
 <ul>
  <li>details of their own children's <%= link_to "academic performance", :action => 'academics' %>,</li>
  <li>a <%= link_to "calendar", :action => 'calendar' %> with events for the school, themselves, and their children, and</li>
  <li>the <%= link_to "discussion groups", :action => 'discussions' %> for all parents</li>
 </ul>
<p>Parents may perform a limited set of actions:</p>
 <ul>
  <li>add events to their own calendars</li>
  <li>add/edit posts in the parent discussion groups</li>
 </ul>
<p>Two parent accounts are created automatically when a student account is created. A student account created under the name "Wille Santiago" will be given login and password "williesantiago". The accompanying parent accounts will be</p>
<table>
 <thead>
  <tr><th>Parent</th><th>First Name</th><th>Last Name</th><th>login</th><th>password</th></tr>
 </thead>
 <tbody>
  <tr>
   <td>Father</td><td>Willie</td><td>Santiago_f</td><td><code>williesantiago_f</code></td><td><code>williesantiago_f</code></td>
  </tr>
  <tr>
   <td>Mother</td><td>Willie</td><td>Santiago_m</td><td><code>williesantiago_m</code></td><td><code>williesantiago_m</code></td>
  </tr>
 </tbody>
</table>
<p>Parents may be given the responsibility of logging in under those names and setting their own names, logins, and passwords. Alternatively, an administrator may manually set the names for any user.</p>
<p>An administrator may assign more than two parent accounts to one student.</p>
</div>
