<div id="content">
<h1><%= @page_h1 = "Section Overview" -%></h1>
<p>Clicking on a subject name brings up an overview of class performance for every section of that subject. At a glance, you can see the class average grade, enrollment, grade distribution, number of assignments, average score on the last graded assignment, due date for the next assignment, and the activity level of discussions, for each section. The section overview is the central motif of the site, and can be seen in several different contexts:</p>
<ul>
 <li>View all sections of a subject</li>
 <li>View all sections taught by the same teacher</li>
 <li>View all of a student's sections</li>
 <li>View the class-level summary for one section beside a table detailing each student's performance</li>
</ul>
<h2>The Section Page</h2>
<p>The Section page links to several more views of student performance in the section
Assignments - see information including class average for all assignments in a class, or selected assignments</p>
<p>From the list of assignments it is possible to click the name of any one and see more detail on it, including each student's score and the grade distribution of the class, as well as how important the assignment was (in terms of point value compared to all assignments for the marking period).</p>
</div>
