<div id="content">
<h1><%= @page_h1 = "Teaching Assignments" -%></h1>
<p>Once a teacher has been <%= link_to "given an account", :action => 'users' %> he can be assigned classes. Teachers may do this for themselves, or an administrator can do it for them. As an administrator, you can access the teacher schedule page and see every teacher&#8217;s schedule. If a teacher has not been assigned classes, there will be a link provided to the teaching load assignment form. A teacher who logs in before classes have been assigned will see a link to the teaching load assignment form on the front page.</p>
<p>The form simply asks for a teacher&#8217;s departments and the subjects he teaches. You may also enter the class time and track, as appropriate</p>
</div>
