<div id="content" class="help">
<h1><%= @page_h1 = "User Accounts" -%></h1>
<div style="margin-right:3%">
<h2>Types of Accounts</h2>
<p>You will need to add user accounts for anyone who should have access to your school. Little<span class='company'>Red</span>Brick has accounts for <strong>Administrators, Teachers, Students</strong>, and <strong>Parents</strong>.</p> 
<h3 class="nonlist">Administrators</h3>
<p>These are accounts for principals, vice-principals, secretaries, etc. Administrator accounts can manage other users&#8217; accounts, assign classes to teachers and enroll students in them, and view information about student and class academic performance. They may not see the gradebook pages or edit student grades. <% if current_user.admin? %><strong>You may create as many Administrator accounts as you want</strong>.</p>
<p>To see a list of administrative accounts, click the <code>Administrators</code> link under the <code>Admin</code> tab. The link to add a new administrator account is on the same page. Teachers may be given administrative privileges, if you have a technical-minded teacher at your school who will take responsibility for maintaining the site.</p>
<% end %>
<h3 class="nonlist">Teachers</h3>
<p>Teachers may manage all aspects of their own classes, including choosing their own classes, enrolling students, managing student accounts, and managing their own gradebooks. They may also view academic performance information about their students and their students&#8217; classes. <% if current_user.admin? %><strong>
You have contracted to create up to <%= pluralize(@school.teacher_limit, 'teacher account') %>.</strong></p>
<p>The link to add a new teacher account can be found under the <code>Teachers</code> tab.<% end %></p>
<h3 class="nonlist">Students and Parents</h3>
<p>Students can see information about their own academic performance, and parents can see information about their children. Every time a student account is created, two parent accounts are created for it automatically. <strong>You may create an unlimited number of student and parent accounts.</strong></p>
<p>The link to add a new student account can be found under the <code>Students</code> tab.</p>
</div>
<div>
<h2>How to Create an Account</h2>
<p>Creating accounts is simply a matter of entering names. Every administrator, teacher, and parent account will be given a login and password with a common format based on the user&#8217;s name: a user named "Edna Crabapple" will get login/password <code>ednacrabapple</code>. A parent&#8217;s login and password will be based on its child&#8217;s name: A student named "Troy McClure" will get a personal account with login/password <code>troymcclure</code>, but his parents will be able to login as <code>troymcclure_father</code> and <code>troymcclure_mother</code>.</p>
<p>
<h2>Editing Accounts</h2>
<p><% if current_user.admin? %>Administrators may edit the spelling of any user&#8217;s name, and add or remove any user account.<% end %> Teachers may add, edit, and remove student accounts. Administrators and teachers may also change parent &ndash; student relationships. For instance, if a student is known to have only one parent, the other parent account can be deleted. If your school has any students who are related, their parent accounts can be combined so the parents don&#8217;t have to remember a separate password to see each of their children. Links to edit a student&#8217;s parents can be found under the page for that student.</p>
<p>Users may <%= link_to "change their own logins and passwords", :action => 'account' %> at any time, and are instructed to do so the first time they log in. Users are also given the option of providing an email address to serve as an alternative means of logging in.</p>
</p>
</div>
</div>
