<% @page_title = 'Editing a Subject' %>
<div id="content">
 <h1>Editing a Subject Help Page</h1>
 <p>When you change the name of a subject, you change the name of every section in the subject.</p>
 <p>You will almost certainly never need to move a subject to another department, unless there is some school-wide reorganization of the entire curriculum, but just in case, the option is there.</p>
 <p>You cannot delete a subject until you have deleted every section (class) of it.</p>
</div>
<div id="secondary">
 <h2>Other Questions?</h2>
 <p>If there is something else you want to ask about editing a subject, try the <%= link_to "help forums", forums_path('help') %> for Little<span class='company'>Red</span>Brick tech support.</p>
</div>

