<% @page_title = 'New Term' %>
<div id="content">
 <h1>New Term Help Page</h1>
 <p>All of the classes at a school take place during a term. Before one term ends, you can set up another one and prepare its classes. The <em>new term</em> page lets you set up your school&#8217;s next term by setting its duration.</p>
 <h2>Archiving</h2>
 <p>At some point, teachers have to stop making assignments and grades for one term and start making them for the next one. That does not happen right when the old term ends, to give teachers time to do things like calculate final grades. You need to choose the date when teachers stop seeing assignments and grades for the old term.</p>
</div>
<div id="secondary">
 <h2>Related Pages</h2>
 <%= link_to "An example term", '/help/term' %>
 <hr/>
 <h2>Other Questions?</h2>
 <p>If there is something else you want to ask about terms, try the <%= link_to "help forums", forums_path('help') %> for Little<span class='company'>Red</span>Brick tech support.</p>
</div>
