<% @page_title = 'Term' %>
<div id="content">
 <h1>Term Help Page</h1>
 <p>The <em>term</em> page lists the dates for marking periods during the term and the marks which must be collected for all classes.</p>
</div>
<div id="secondary">
 <h2>Related Pages</h2>
 <ul>
  <li><%= link_to "An example term", '/help/term' %></li>
  <li><%= link_to "Marks", '/help/marks' %></li>
 </ul>
 <hr/>
 <h2>Other Questions?</h2>
 <p>If there is something else you want to ask about terms, try the <%= link_to "help forums", forums_path('help') %> for Little<span class='company'>Red</span>Brick tech support.</p>
</div>
