<% @page_title = 'Editing a Teaching Load' %>
<div id="content">
 <h1>Editing a Teaching Load Help Page</h1>
 <p>When you reach a <em>teaching load</em> page, you should be dealing with a teacher who already has classes, so the forms should already list the departments in which the teacher has classes, and what subjects those sections are.</p>
 <p>If you need to add classes from a different department, check the department&#8217;s box on the left form. That should update the selection choices on the right side form. (Sometimes the form gets stuck. If that happens, reload the page and try again. Sorry.)</p>
 <h2>Removing Classes</h2>
 <p>When you remove a class on this page, it is gone forever along with all assignment and grade data associated with it. <strong>Be careful when you remove a class.</strong></p>
 <p>Of course, if you have just added a class accidentally, removing it would be just fine.</p>
 <h2>Missing Subjects</h2>
 <p>If you are trying to add a section and the subject does not appear in the subject pulldown list even though the department is checked, or the department does not appear in the department list, the class catalog must be updated. <% if current_user.admin? %>Go <% else %>Have an administrator go <% end %>to the catalog page and add the subject or department and subject you need.</p>
</div>
<div id="secondary">
 <h2>Other Questions?</h2>
 <p>If there is something else you want to ask about editing teaching assignments, try the <%= link_to "help forums", forums_path('help') %> for Little<span class='company'>Red</span>Brick tech support.</p>
</div>
