<% @page_title = 'File Upload' %>
<div id="content">
 <h1>File Upload Help Page</h1>
 <p>Select the Excel or OpenOffice spreadsheet file that has the teaching assignments you want to upload. Make sure you have already created accounts for every teacher, and added the names of all the subjects they teach, before uploading teaching assignments.</p>
</div>
<div id="secondary">
 <h2>Other Questions?</h2>
 <p>If there is something else you want to ask about uploading teaching assignments, try the <%= link_to "help forums", forums_path('help') %> for Little<span class='company'>Red</span>Brick tech support.</p>
</div>
