<% @page_title = 'Editing a Track' %>
<div id="content">
 <h1>Editing a Track Help Page</h1>
 <p>When you edit a track, you can change the dates each of its marking periods begin and end. Just make sure none of the marking periods overlap.</p>
</div>
<div id="secondary">
 <h2>Related Topics</h2>
 <%= link_to "An example term", '/help/term' %>
 <hr/>
 <h2>Other Questions?</h2>
 <p>If there is something else you want to ask about editing a track, try the <%= link_to "help forums", forums_path('help') %> for Little<span class='company'>Red</span>Brick tech support.</p>
</div>
