<div id="content">
 <h1>Logins Help Page</h1>
 <p>This page is pretty lame. It just lists the dates and times a teacher has logged in, so you can get some idea of how often he is using Little<span class='company'>Red</span>Brick.</p>
</div>
<div id="secondary">
 <h2>Other Questions?</h2>
 <p>If there is something else you want to ask about teachers, try the <%= link_to "help forums", forums_path('help') %> for Little<span class='company'>Red</span>Brick tech support.</p>
</div>
