<% @page_title = 'Administration' %>
<div id="content">
 <h1>Administration Help Page</h1>
 <p>I&#8217;m really not sure what to say about this page. It&#8217;s really just a way to get from the front page to each of the parts of the site that are for administrators only. If there is something you want to ask about the administrative interface, try the <%= link_to "help forums", forums_path('help') %></p>
</div>
