<h2>Data Entry Options</h2>
<ul id='spaced'>
  <li><%= link_to_unless_current('Copy/paste names', enter_names_path(id)) %></li>
  <li><%= link_to_unless_current('Type in names and other attributes', enter_details_path(id)) %> </li>
  <li><%= link_to_unless_current('Upload data', new_users_upload_path(id)) %></li>
</ul>

