<% @page_title = 'Editing a Student Account' %>
<div id="content">
 <h1>Help Editing a Student</h1>
 <p>You can edit a student&#8217;s name and grade to correct typos.</p>
 <h2>Resetting a Password</h2>
 <p>You can <strong>reset</strong> a student&#8217;s login and password for someone who has forgotten how to log in. The reset function sets the student&#8217;s login and password to the full name in lowercase, so <em>Georg Hegel</em> would have his login and password reset to <code>georghegel</code>.</p>
 <h2>Removing a Student</h2>
 <p>It is possible to delete a student&#8217;s account on the edit page. Deleting a student account will destroy all records of that student&#8217;s grades. If you want to remove a student from a class, use the <code>Remove Student</code> link on a <em>section</em> page.</p>
 <h2>Adding/Editing Parents</h2>
 <p>Links to edit the accounts of a student&#8217;s parents, or create a new parent account, are in the sidebar.</p>
</div>
<div id="secondary">
 <h2>Other Questions?</h2>
 <p>If there is something else you want to ask about editing student accounts, try the <%= link_to "help forums", forums_path('help') %> for Little<span class='company'>Red</span>Brick tech support.</p>
</div>
