<% @page_title = 'Students' %>
<div id="content">
 <h1>Student List Help Page</h1>
 <p>The <em>student list</em> page lists every student at your school with their class schedules. Click on any student name for an overview of their academic performance, or any class name for information on the student&#8217;s performance in that class.</p>
</div>
<div id="secondary">
 <h2>Other Questions?</h2>
 <p>If there is something else you want to ask about the students page, try the <%= link_to "help forums", forums_path('help') %> for Little<span class='company'>Red</span>Brick tech support.<p>
</div> 
