<% @page_title = 'Student Classes' %>
<div id="content">
 <h1>Student Classes Help Page</h1>
 <p>This page shows the academic performance of all of a student&#8217;s <strong>classes</strong>, without any focus on the student.</p>
</div>
<div id="secondary">
 <h2>Other Questions?</h2>
 <p>If there is something else you want to ask about students or their classes, try the <%= link_to "help forums", forums_path('help') %> for Little<span class='company'>Red</span>Brick tech support.<p>
</div> 
