<% @page_title = 'Student Attendance' %>
<div id="content">
 <h1>Student Attendance Help Page</h1>
 <p>The <em>student attendance</em> page lists the attendance for one student at your school during each class for one month. Click on any class name for information on the attendance record for that class as a whole. To see the attendance for another month, use the calendar form to the side of the attendance table.</p>
</div>
<div id="secondary">
 <h2>Other Questions?</h2>
 <p>If there is something else you want to ask about the student attendance page, try the <%= link_to "help forums", forums_path('help') %> for Little<span class='company'>Red</span>Brick tech support.<p>
</div> 
