<span class = '_<%= assignment.section.time %> _<%= assignment.section_id %>' id = 'assignment_<%= assignment.id %>'>
<%= link_to_function(assignment.title, "Streamlined.Windows.open_window('Edit', '#{url_for(:action => 'assignment', :id => assignment.id)}', 'Assignment')") %><br /></span>
