<div id="content" class="help">
<h1>Setup Task 3: Course Catalog</h1>
<div>
<p>The third step in setting up Little<span class='company'>Red</span>Brick for your school is to enter the organization of your school&#8217;s course catalog &ndash; which <strong>subjects</strong> are offered in which <strong>departments</strong>. To save you some typing, we supply you with common department names (Math, English, Science, etc) and subject names (Algebra, Geometry, Calculus, etc), which you may edit or replace as appropriate.</p>
<p>Unlike the user accounts, the department and subject names cannot be uploaded.</p>
<p>Once the <strong>teacher account</strong> and <strong>department and subject information</strong> has been entered, it can be used to set <%= link_to "teaching assignments", :action_name => 'teaching_load' %>.</p>
</div>
</div>
<div id="secondary">
<%= setup_task_list %>
</div>
