 <h2>Other Questions?</h2>
 <p>If there is something else you want to ask about <%= subject -%>, try the <%= link_to "help forums", forums_path('help') %> for Little<span class='company'>Red</span>Brick tech support.</p>
