<div id="content">
<h1><%= @section.name %> Marks for <%= @student.full_name %></h1>
<table id='marks'>
 <thead>
  <tr><th rowspan='2' class='text' style="vertical-align:top">Marks</th><th colspan='3'>Points</th><th>Grade</th></tr>
  <tr><th>Earned</th><th>Possible</th><th>%</th><td>&nbsp;</td></tr>
 </thead>
 <tbody>
  <%= render(:partial => "mark", :collection => @marks) %>
 </tbody>
</table>
<%= link_to "Back", rbe_path(@section, @student) %>
</div>
<div id="secondary">
<h2>Notes</h2>
<dl id='forum_def'>
<dt>Marks</dt><dd>are the grades teachers submit at the end of a term, such as marking period grades, semester finals, or course grades.</dd>
<dt>A Marking Period Grade</dt><dd>is automatically calculated by averaging the grades of all assignments that are due during that marking period. That grade may be altered if the teacher does not think the point average accurately captures the student's performance.</dd>
</dl>
</div>
