<% unless defined? header %>
<tr class="<%= cycle 'odd', 'even' %>">
 <% data_row.each_with_index do |cell, i| -%>
  <td<%= ' class = "text"' if i == 0 %>>
   <%= h cell.to_s.gsub(/[^0-9A-Z\s\.a-z]/,'').sub(/COMMA/,',') rescue '&nbsp;' -%>
  </td>
 <% end -%>
 <% data_row.length.upto(@length - 1) do |blank| -%>
 <td>&nbsp;</td>
 <% end -%>
<% else %>
<tr>
 <% data_row.each_with_index do |cell, i| -%>
  <th>
   <%= h cell.to_s.gsub(/[^0-9A-Z\s\.a-z]/,'').sub(/COMMA/,',') rescue '&nbsp;' -%>
  </th> 
 <% end -%>
 <% data_row.length.upto(@length - 1) do |blank| -%>
  <th>&nbsp;</th>
 <% end -%>
<% end %>
</tr>
