<td class = 'person'>
  <%= select('import', selection_counter, [['Ignore', ''], ['Name(Last)', 'last_name'], ['Name(First)', 'first_name'], ['Name(First Last)', 'full_name'], ['Name(Last,First)', 'last_first'], ['ID', 'id_number'], ['Grade', 'grade']], {}, {:class => 'columns'}) -%>
</td>
