<div id="content">
 <h1>Monitoring Topics</h1>
 <p>If a discussion topic is particularly interesting to you, and there are a lot of topics in your school&#8217;s forums, it can be useful to <strong>monitor</strong> interesting topics. When you choose to monitor a topic, the most recent <%= link_to "posts", 'posts' %> to that topic show up on the front page when you log in.</p>
 <h2>How to Monitor a Topic</h2>
 <p>Just check the box on the right side of the topic name, <code>Monitor topic</code>:</p>
 <%= image_tag("help/monitoring.png", {:alt => "description", :size => "570x126"}) %>
 <h2>What Monitoring Does</h2>
 <p>On the front page, you will see a list of the most recent posts that have been made to topics in your discussion groups. Any topics you are monitoring will be listed first.</p>
</div>
<%= render(:partial => "help/general/discussions/forums") %>
