<% @page_title = 'School Data' %>
<div id="content">
 <h1>School Data Help Page</h1>
 <p>The <em>school</em> page summarizes information about your school&#8217;s enrollment, the term, and other facts.</p>
 <h2>Editing School Information</h2>
 <p>Links are provided to edit the term, marks, and certain school details. If you want to change the number of teacher accounts available to your school, contact us.</p>
</div>
