<% @page_title = 'Editing an Assignment' %>
<div id="content">
 <h1>Assignment Editing Help Page</h1>
 <p>Editing an assignment involves altering the same attributes you set when you <%= link_to "created the assignment", help_path('assignments', 'new') %>. There are a few exceptions:</p>
 <h2>Scaling Scores</h2>
 <p>If you change the point value of an assignment you have already started to grade, you can opt to scale the scores. For instance, say you had created an assignment worth 5 points, and entered a student&#8217;s score as 4 out of 5. (For you English teachers, that&#8217;s an 80%.) You then decide the assignment should really be worth 10 points. When you edit the assignment, you can opt to scale the scores, and that student&#8217;s grade would automatically be changed to an 8 (which is also 80%).</p>
 <h2>Marking Period</h2>
 <p>When you create an assignment, you assign it to a marking period. When you grade an assignment, the scores are automatically incorporated into the marking period grade. Say you make an assignment that is due on the last day of marking period #1. You know it will take a couple days to score, so you want it to be counted as due for marking period #2, but you forget to change the marking period when you create the assignment. If you edit the assignment later to alter the marking period after you entered grades for the assignment, the old and new marking period grades are both updated to reflect the change.</p>
 <hr/>
 <p>You can also delete an assignment on the edit page. Marking period grades will be updated to reflect that change too.</p>
 <p>If you decide you do not need to change anything about the assignment, there is a <code>cancel</code> link underneath the form.</p>
</div>
<div id="secondary">
  <%= render 'help/page/assignments/related' -%>
  <%= render 'help/page/shared/tech_support', :subject => 'editing assignments' -%>
</div>
