<% @page_title = 'Creating an Assignment' %>
<div id="content">
 <h1>Assignment Creation Help Page</h1>
 <p>Before you type in or upload scores for an assignment, you have to create it in Little<span class='company'>Red</span>Brick. Most of the information you enter on the creation page is self-explanatory; it&#8217;s all of the things your students should know about the assignment. A few things to keep in mind:</p>
 <h2>Category</h2>
 <p>There is a dropdown list of common assignment categories and categories you have used before. This is to save you from accidentally creating duplicate categories by e.g. creating three assignments with categories <em>Test</em>, <em>test</em>, and <em>tests</em>. If you see the category in the dropdown list, select it. Otherwise you can type in your own. Anything you type will be used instead of whatever is selected.</p>
 <h2>Date Assigned</h2>
 <p>This defaults to today, but you can change it if you have to.</p>
 <h2>Date Due</h2>
 <p>Normally every student in a class will have the same due date for an assignment. If students cannot all have the same due date, for instance for a class presentation that will take several class days, you can opt to set individual due dates for each student. A student&#8217;s calendar will show the due dates for all of his assignments, and your calendar will show the due dates for all the work you have assigned.</p>
 <h2>Marking Period</h2>
 <p>The form will guess at the right value for this based on the date you create the assignment (meaning if Marking Period #2 runs from Oct 24 to Jan 5, if you create an assignment on November 1 the form will preselect Marking Period #2). You can choose a different marking period.</p>
 <h2>Point Value</h2>
 <p>You can use any integer value 0 &ndash; 100. 0 should be used for extra credit assignments which can only improve but not hurt a student&#8217;s marking period grade.</p>
 <h2>Grading Assignments</h2>
 <p>After you create an assignment you will be sent back to the gradebook page for the class. You can enter scores for the assignment there, after it is due. <strong>Note: We recommend you put assignments into the system as soon as they are assigned, so that students, parents, and administrators are informed about upcoming due dates in your classes.</strong></p>
</div>

<div id="secondary">
<% if current_user.is_a?Teacher %>
  <%= render 'help/page/assignments/related' -%>
<% end %>
  <%= render 'help/page/shared/tech_support', :subject => 'creating an assignment' -%>
</div>

