<% @page_title = 'File Upload' %>
<div id="content">
 <h1>File Upload Help Page</h1>
 <p>Select the Excel or OpenOffice spreadsheet file that has the grades you want to upload.</p>
</div>
<div id="secondary">
  <%= render 'help/page/shared/tech_support', :subject => 'uploading grades' -%>
</div>
