<% @page_title = 'Sorting' %>
<div id="content">
 <h1>Sorting Help Page</h1>
 <p>The sort page lists every student in your class. You can click and drag a name to move it to a different position in the list. The sort order you choose on this page will be the way student names are displayed in the gradebook and any other place all the students for this class are listed.</p>
</div>
<div id="secondary">
  <%= render 'help/page/shared/tech_support', :subject => 'sorting students' -%>
</div>

