<% @page_title = 'Attendance' %>
<div id="content">
 <h1>Attendance Overview Help Page</h1>
 <p>The <em>attendance overview</em> page lists the attendance for every student at your school during each class for one day. Click on any student name for an overview of their attendance, or any class name for information on the attendance record for that class as a whole. To see the attendance for another day, use the calendar form to the side of the attendance table.</p>
</div>
<div id="secondary">
 <h2>Other Questions?</h2>
 <p>If there is something else you want to ask about the attendance page, try the <%= link_to "help forums", forums_path('help') %> for Little<span class='company'>Red</span>Brick tech support.<p>
</div> 
