<% @page_title = 'Student Marks' %>
<div id="content">
 <h1>Marks Help Page</h1>
 <p>The marks page lists a student&#8217;s marks in all classes. </p>
</div>

<div id="secondary">
 <h2>Related Topics</h2>
 <%= link_to "Marks", '/help/marks' %>
 <hr/>
 <h2>Other Questions?</h2>
 <p>If there is something else you want to ask about student marks, try the <%= link_to "help forums", forums_path('help') %> for Little<span class='company'>Red</span>Brick tech support.</p>
</div>
