<% @page_title = 'Adding a Student' %>
<div id="content">
 <h1>New Student Help Page</h1>
 <p>Every student who logs in must have an account created for him. To add a new student account, type the student&#8217;s name, login, and password. An ID number and email address are optional. Don&#8217;t worry about making the password too hard to crack, because the student will be asked to change it the first time he logs in.</p>
 <h2>Parents</h2>
 <p>When a student account is created, two parent accounts are added automatically.</p>
</div>

<div id="secondary">
 <h2>Other Questions?</h2>
 <p>If there is something else you want to ask about adding student accounts, try the <%= link_to "help forums", forums_path('help') %> for Little<span class='company'>Red</span>Brick tech support.<p>
</div> 
