<% @page_title = 'Editing Marks' %>
<div id="content">
 <h1>Editing Marks Help Page</h1>
 <p>There are several ways to calculate <strong>marks</strong> such as <strong>marking period grades</strong> and <strong>semester grades</strong> for your students.</p>
 <h2>Automatic Calculation of Marking Period Grades</h2>
 <p>The simplest way to handle marking period grades is to let Little<span class='company'>Red</span>Brick handle them automatically. As you create and score assignments, the scores are incorporated into marking period grades for students. For instance, if you score a student&#8217;s first three assignments for a marking period as 8 out of 10, 14 out of 15, and 20 out of 25, his marking period grade will be 84%. You don&#8217;t even need to visit the <em>edit</em> page to make that happen.</p>
 <h2>Entering Marks Manually</h2>
 <p>No matter what other method of calculation you use, it is always possible to edit marks by just typing them in. You may want a student carrying a 79% to get a B, for instance. You can change any of your student&#8217;s marks on the <em>Edit Mark</em> page just like you change their assignment scores on the <em>Gradebook</em> page.</p>
 <h2>Calculating Marks</h2>
 <p>Calculating marks is not so much complicated as wordy, so the subject gets <%= link_to "its own page", '/help/marks' %></p>
</div>
<div id="secondary">
  <%= render 'help/page/marks/related' -%>
  <%= render 'help/page/shared/tech_support', :subject => 'editing marks' -%>
</div>
