<% @page_title = 'Edit Topic' %>
<div id="content" class="help">
 <h1>Edit Topic Help Page</h1>
 <p>You can edit four things about a topic:</p>
 <dl class="notice">
  <dt>Title</dt><dd>The one-line summary of the topic that shows up on eg. the <%= link_to "forum page", '/help/page/forums/show' %></dd>
  <dt>Stickiness</dt><dd>Sticky topics stay at the top of the list on the forum page</dd>
  <dt>Locked</dt><dd>No one is allowed to post a reply to a locked topic</dd>
  <dt>Forum</dt><dd>In case you accidentally added a topic to the wrong forum</dd>
 </dl>
 <p style="clear:both;padding-top:2em">You can delete the topic on the edit page if you want to. If you decide you don&#8217;t need to edit a topic, there is a <code>cancel</code> link under the form.</p>
</div>
<% if current_user.is_a?Staffer %>
<div id="secondary">
  <%= render 'help/page/shared/discussion_related' -%>
  <%= render 'help/page/shared/tech_support', :subject => 'editing a topic' -%>
</div>
<% end %>
