<% @page_title = 'Adding an Administrator' %>
<div id="content">
 <h1>New Administrator Help Page</h1>
 <p>To add a new administrator account, type the administrator&#8217;s name, login, and password. An ID number and email address are optional. Don&#8217;t worry about making the password too hard to crack, because the administrator will be asked to change it the first time he logs in.</p>
 <h2>Administrative Privileges for Teachers</h2>
 <p>Normally, teachers are not allowed to do things like manage the class catalog or administrator or teacher accounts, and they can only see academic information for their own students. If you want a teacher to be in charge of administering those aspects of the site, you need to give that teacher administrative privileges. In order to do that, enter the teacher&#8217;s name into the form on the right side of the <em>New Administrator</em> page. Note that you need to create a regular teacher account before you can grant it admin privileges.</p>
 <h2>Removing Administrators</h2>
 <p>To remove an administrator, look for the <code>Delete</code> button on the <em>Administrators List</em> page. You can delete the admin part of a teacher&#8217;s account without affecting his ability to log in as a normal teacher.</p>
</div>
<div id="secondary">
  <%= render 'help/page/shared/tech_support',
      :subject => 'adding administrator accounts' -%>
</div>
