<% @page_title = 'Marks' %>
<div id="content">
 <h1>Marks Help Page</h1>
 <p>Marks are the grades which which must be reported for all students in all classes during a term.</p>
 <h2>Marking Periods</h2>
 <p>Every academic term must have at least one marking period, which is a period of time at the end of which grades are reported. The link to add a marking period can be found back on the term page.</p>
 <h2>Editing Marks</h2>
 <p>Click a mark&#8217;s name to edit it or delete it. Note that you cannot change the name of marking periods, and you cannot delete any marking period except the last one.</p>
</div>
<div id="secondary">
 <%= render 'help/page/reported_grades/related' -%>
 <%= render 'help/page/shared/tech_support', :subject => 'marks' -%>
</div>

