<% @page_title = 'File Upload' %>
<div id="content">
 <h1>Help Page</h1>
 <p>To upload teaching assignments, you need to have a spreadsheet file that basically looks like the <em>Teachers List</em> page, with teacher information (names or ID numbers) in the first column and the names of the classes they teach in each column after that. You can upload Excel files or OpenOffice spreadsheets.</p>
 <p>Make sure you have already created teacher accounts and entered subject names for all of the teaching assignments you want to upload.</p>
</div>
<div id="secondary">
 <h2>Other Questions?</h2>
 <p>If there is something else you want to ask about uploading teaching assignments, try the <%= link_to "help forums", forums_path('help') %> for Little<span class='company'>Red</span>Brick tech support.</p>
</div>
