.swfuploadbtn {
   display: block;
   width: 100px;
}
.uploadbtn {
   display: none;
}
.cancelbtn {
   display: block;
   width: 16px;
   height: 16px;
   float: right;
   background: url(/images/cancel.png) no-repeat;
}
#cancelqueuebtn {
   display: block;
   display: none;
   background: url(/images/cancel.png) no-repeat 0 4px;
   margin: 10px 0;
}
.SWFUploadFileItem {
   display: block;
   width: 230px;
   background: #eaefea;
   /*height: 70px;
   float: left;
   margin: 0 10px 10px 0;*/
   padding: 5px;
}
.fileUploading { background: #66aebd; }
.uploadCompleted { background: #d2fa7c; }
.uploadCancelled { background: #f77c7c; }

.uploadCompleted .cancelbtn, .uploadCancelled .cancelbtn {
   display: none;
}
div.progressBar {
   width: 200px;
   display: block;
   /*font-size: 10px;*/
   height: 4px;
   margin-top: 2px;
   /*margin-bottom: 10px;*/
   background-color: #CCC;
}
input.file {
  clear: none;
  margin-top: -23px;
}
div.fileinputs {
  position: relative;
}
input.file {
  position: relative;
  text-align: right;
  -moz-opacity:0 ;
  filter:alpha(opacity: 0);
  opacity: 0;
  z-index: 2;
}
.fileinputs {
  position: relative;
  height: 30px;
  width: 300px;
}
.fileinputs img {
  margin-bottom: -5px;
}
input.file {
  width: 190px;
  margin: 0;
}
input.file.hidden {
  position: relative;
  text-align: right;
  -moz-opacity:0 ;
  filter:alpha(opacity: 0);
  opacity: 0;
  z-index: 2;
}
div.fakefile {
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  padding: 0;
  margin: 0;
  z-index: 1;
  line-height: 90%;
}
#SWFUploadTarget a.button {
  display: inline;
  margin: 5px;
}
#SWFUploadTarget {
  padding: 1em 0;
}
#flashContainer {
  width: 0;
  height: 0;
  position: absolute;
  top: 0px;
  left: 0px;
}
