ul#secondary_nav {width:100%;}

#logo {margin-top: 1px;}

#logged_out #logo {margin-top: 0px;}

#wrapper #nav #styleswitch {border-left: 0px;}

#masthead { width: expression(this.parentElement.offsetWidth - 2);}

#wrapper, #masthead, #footer {min-width: 980px;}

#wrapper {width: expression(this.parentElement.offsetWidth < 1152 ? 980 : 0.85 * this.parentElement.offsetWidth)}

#footer { width: expression(this.parentElement.offsetWidth - 2);}

.initial #masthead {overflow:hidden;}

div.scrollableTable {
  overflow: auto; /*width: 99%;/* HEIGHT: 252px*/
  margin-bottom: 2em;
}
.scrollableTable table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 95%;/*was 99, but that makes horizontal scrollbar in ie7*/
  height: 30em;
}
.scrollableTable thead th, .scrollableTable thead td { z-index: 20;}

#enter_describe_file .scrollableTable th, #rollbook_describe_file .scrollableTable th, #rollbook_import_enrollment .scrollableTable th {width:100%;}

#subject_header, .subject_header {width: 12em;}

.subject_header {text-align: left;}

ol {margin-left: 1.7em;}

#school_edit label#gap, #school_update label#gap{padding-left:100px;}

#teachers_edit p.explanation, #teachers_update p.explanation{margin: 0 0 0 12.5em;}

#student_head {width: 8em;}

#assignment_marker {width: 2em;}

fieldset {margin-bottom: 2em;}

div.auto_complete, div.auto_complete li {position: relative;}

td.narrow {width: 7em;}

td.body .entry-content {padding-right: 0;}

#seating_chart_new #content, #seating_chart_create #content, #seating_chart_show #content, #seating_chart_edit #content, #seating_chart_update #content {width: auto; margin-right: 2em;}

p#label_note {margin: -2.5em 0 0 8.5%;}

form#sections {width: 60%; margin-right: 10px;}

#general_video #home { background: url(../images/logo/nontransparent_home.png)  -251px 0; margin-top:1px}

#general_video #home:hover { background: url(../images/logo/nontransparent_home.png); margin-top:1px}

#ie_email {width: auto;}

/* Focused windows */
.overlay_mac_os_x {
  filter:alpha(opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.6;
}
/* FOR IE */
* html .mac_os_x_nw {
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/themes/mac_os_x/TL_Main.png", sizingMethod="crop");
}

* html .mac_os_x_n {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/themes/mac_os_x/T_Main.png", sizingMethod="scale");
}

* html .mac_os_x_ne {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/themes/mac_os_x/TR_Main.png", sizingMethod="crop");
}

* html .mac_os_x_w {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/themes/mac_os_x/L_Main.png", sizingMethod="scale");
}

* html .mac_os_x_e {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/themes/mac_os_x/R_Main.png", sizingMethod="scale");
}

* html .mac_os_x_sw {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/themes/mac_os_x/BL_Main.png", sizingMethod="crop");
}

* html .mac_os_x_s {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/themes/mac_os_x/B_Main.png", sizingMethod="scale");
}

* html .mac_os_x_se {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/themes/mac_os_x/BR_Main.png", sizingMethod="crop");
}

* html .mac_os_x_sizer {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/stylesheets/themes/mac_os_x/BR_Main.png", sizingMethod="crop");
}


/* Focused windows */
.overlay_blur_os_x {
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}
/* FOR IE */
* html .blur_os_x_nw {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../themes/mac_os_x/TL.png", sizingMethod="crop");
}

* html .blur_os_x_n {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../themes/mac_os_x/T.png", sizingMethod="scale");
}

* html .blur_os_x_ne {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../themes/mac_os_x/TR.png", sizingMethod="crop");
}

* html .blur_os_x_w {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../themes/mac_os_x/L.png", sizingMethod="scale");
}

* html .blur_os_x_e {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../themes/mac_os_x/R.png", sizingMethod="scale");
}

* html .blur_os_x_sw {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../themes/mac_os_x/BL.png", sizingMethod="crop");
}

* html .blur_os_x_s {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../themes/mac_os_x/B.png", sizingMethod="scale");
}

* html .blur_os_x_se {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../themes/mac_os_x/BR.png", sizingMethod="crop");
}

* html .blur_os_x_sizer {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../themes/mac_os_x/BR.png", sizingMethod="crop");
}

legend {top: -0.5em;}
