body #wrapper {
  width: 99.5%;/*changed width here and footer/masthead from 100 bc Ubuntu ff got scrollbars*/
  width: expression( document.body.clientWidth < 936 ? "935px" : "99.5%" );
  font-size: small;
  voice-family: "\"}\"";
  voice-family: inherit;
  font-size: medium;
}
html>body #wrapper { font-size: medium;}

#masthead a { font-size: 1.1em;}

#secondary_nav li.breadcrumbs span.arrow { padding-top:0px}

.initial ul#secondary_nav {margin-top: 33px;}

.initial #styleswitch {line-height: 1em}

legend { font-weight:600;}

#footer, #masthead {width: 99.5%}

#wrapper, #masthead, #footer { min-width: 900px;}

div#content_wrap.big_nav {padding-top: 110px;}

/*ugly ie6 hacks to get navbar room*/
#masthead, #masthead:hover {_padding-bottom: 0; _margin-bottom:0}

a#home:hover {_padding-bottom:0;_height: 65px}

#events_index #content_wrap {_padding-top: 75px;}
