/*BODY*/
* { margin: 0; padding: 0;}

body, html {height: 100%}

body {
  color:#000;
  background: #F7F7F4;
  font-family: tahoma, helvetica, verdana, arial, sans-serif;
}
#wrapper, #masthead, #footer { min-width: 1000px;}/*used to be 1000*/

#wrapper {
  width: 85%;
  background: #fff;
  margin: 0 auto;
  font-size: x-small;
  voice-family: "\"}\"";
  voice-family: inherit;
  font-size: small;
  height: 100%;
  border: solid #808080;
  border-width: 0 1px 0 1px;
}
html>body #wrapper { font-size: small;}

html>body #content_wrap {
  min-height:550px;
}
#content_wrap {
  background: #fff;
  padding-top: 75px;
}
#content_wrap:after {content:'.';height:0;visibility:hidden;display:block;clear: both;}
/*FOOTER*/
#footer {
  width: 85%;
  font-size: x-small;
  text-align: center;
  height: 2em;
  z-index: 1000;
  background: #fff;
  border-top: 1px solid #808080;
  border-bottom: 0;
  padding: 5px 0;
}
html>body #footer, html>body #masthead {
  position:fixed;
  z-index:10; /* Prevent certain problems with form controls */
}
html>body #footer { bottom:0;}
/*HEADER*/
#masthead {
  width:85%;
  padding-top: 5px;
  font-family: century gothic, lucida grande, lucida sans, bitstream vera sans, verdana, helvetica, sans-serif;
  background: #fff url(../images/tabs/green_masthead.gif) repeat-x 0 5px;
  overflow: auto;
  margin: 0 0 5px 0;
}
@media screen and (-webkit-min-device-pixel-ratio:0){/*safari hack*/
#masthead {overflow: hidden;}
}
@media screen and (-webkit-min-device-pixel-ratio:0){/*safari hack*/
#logo {margin-top: 1px;}
}
/*INITIAL HEADER*/
#masthead {
  background: url(../images/logo/small_repeat.gif) repeat-x 0;
  height: 60px;
  margin-top: 0;
  padding: 0 0 1px;/*this is weak; it should be possible to have padding over the top, like normal*/
}
#logo {
  background: url(../images/logo/smaller_rect.png) no-repeat;
  float: left;
  z-index: 1001;
  width: 250px;
  height: 60px;
  text-indent: -9000px;
  margin-left: 10%;
}
/*HEADER*/
#masthead a {
  font-size: 1.25em;
  color: #808080;
  text-decoration: none;
}
#masthead a:hover { color:#fff;}

#home {
  float: left;
  width: 251px;
  height: 60px;
  background: url(../images/logo/home.png) -251px 0 no-repeat;
  text-indent: 40px;
  line-height: 40px;
  color: #eee;
  /*text-indent: -9000px;*/
}
#home:hover { background-position: 0 0;}

#secondary_nav, #secondary_nav * { float: left;}

#secondary_nav {margin-top: 38px;}

#secondary_nav a {padding: 0}/**/

#secondary_nav li {padding: 0 10px}

#nav li span {
  font-size: 1.25em;
  padding: 0 18px;
}

ul#secondary_nav {
  clear: left;
  background: url(../images/tabs/tab_green.gif) repeat-x top left #00602b;
  padding-bottom: 1px;
}
#secondary_nav li {
  border: none;
  border-left: 1px solid #ccc;
  color: #fff;
  font-weight: bold;
  line-height: 1.6667em;
}
#secondary_nav li a {
  color: #eee;
  font-size: 1em;
}
#secondary_nav li.breadcrumbs * { padding: 0 2px;}

#secondary_nav li.breadcrumbs .arrow { color: #eee;}

#secondary_nav form {margin-top:2px}

#styleswitch {height: 1.6667em;}

#styleswitch ul { position:absolute;right:5px;}

#styleswitch ul a {padding: 0;}

#styleswitch ul a.big {font-size: 1.2em}
/*CONTENT*/
#content {
  float: left;
  width: 70%;
  padding: 0 0 2em 10%;
  background: #fff;
}
html>body #content {height: 100%;}
/*GENERIC TYPOGRAPHY*/
h1,h2,h3,h4,h5,h6 {
  font-family:'Lucida Grande', 'Trebuchet MS', Arial, Helvetica, sans-serif;
  color: #66aebd;
}
h1 {
  font-size: 1.23em;
  line-height: 1em;
  margin: 0 0 1em 0;
}
h2 {
  font-size: 1.1em;
  line-height: 1em;
  margin: 0;
}
h3 {
  font-size: 1em;
  line-height: 1em;
  margin: 0;
}
pre {
  font-family:'tahoma', 'Lucida Grande', 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  margin-bottom: 1em;
  color: #66aebd;
}
li { list-style: none;}

option { padding-right: 10px;}

a { color: #529aa9;}

a:active {outline: none;}

a:visited { color: gray;}

a img { border: 0;}

hr { margin: 1em 0;}

/*CONTENT AREA*/
#content p, #secondary p {
  margin: 0;
  line-height: 1.3846;
}
#content ul { margin: 1em 0 0 0;}

#content div {
  margin: 0 1% 10px 0;
  width: 32%;
  float: left;
  min-height: 150px;
}

/*FORM*/
fieldset {
  position: relative;
  padding: 2em 16px 1em 16px;
  background: #f8f8ff;
  margin: 1em 0;
  border:2px solid #66aebd;
  color: #4a7f8a;
}
legend {
  position: absolute;
  top: -2.7em;/*IE? was -0.5*/
  left: 0.2em;
  border:2px solid #66aebd;
  background: #fff;
  color: #66aebd;
  padding: 0 5px;
  font-variant: small-caps;
}/*i need to put the legend deal in a separate, ie-only css file and hide its import with conditional comments:*/
input, textarea, select {
  font: 100% tahoma, helvetica, verdana, arial, sans-serif;
}

label { margin-right: 4px;}

label input { float: left;}

label.textarea {
  float: none;
  display: block;
}
li.textarea { margin-left: 10.5em; width: 400px}

.textarea label {margin-left: -10.5em;}

.textarea textarea {margin-top: -1em}

#content fieldset ul { margin: 0;}

#content fieldset p { margin-top: 0;}

.button {
  cursor:pointer;
  border:outset 1px #ccc;
  color:#666;
  font-weight:bold;
  padding: 1px 2px;
  background: #999 url(../images/submit_button_bg.gif) repeat-x left top;
  clear: both;
  float: right;
  margin: 5px 8px 5px 5px;
}
.disabled .button { color: #bbb;}

.button-to .button { background:url(../images/submit_button_bg.gif) repeat-x left top;}

form img {
  margin: 0 auto;
  padding-left: 13px;
}
fieldset hr {
  clear: left;
  margin: 0.25em 0;
  color: #66aebd;
  background: #66aebd;
}
/**/
div#secondary {
  float: right;
  width: 20%;
  padding-right: 26px;
}
#secondary ol {
  list-style: decimal inside;
}
#secondary ol li {
  padding-left: 13px;
  color: #529aa9;
}
#secondary h2 {
  line-height: 1.142857;
  margin-bottom: 1.142857em;
}

/*FLASH*/
#notice, .notice {
  border:2px solid #66aebd;
  background:#f8f8ff;
  color: #4a7f8a;
  padding: 5px;
  margin-bottom: 1em;
}
#notice h2, .notice h2, #notice h3, .notice h3, #notice a, .notice a {
  color: #4a7f8a;
}
#content #notice h2 {margin-top: 0;}

#notice ul li, .notice ul li {
  list-style: disc inside;
}
#error {
  border: 2px solid #bd6666;
  background:#fff8f8;
  color: #a35858;
  padding: 2px;
}
#error h2 {
  color: #a35858;
}
/*ERROR*/
input.fieldWithErrors  {border: 2px solid #bd6666;margin:0}

#errorExplanation {
  border: 2px solid #bd6666;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #fff8f8;
}
#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0 -7px;
  background-color: #bd6666;
  color: #fff;
}
#errorExplanation p {
  color: #a35858;
  margin-bottom: 0;
  padding: 5px;
}
#errorExplanation ul li {
  font-size: 12px;
  list-style: square inside;
  color: #a35858;
}
div#errorExplanation ul {
  float: none;
}
/**/
.hide { display: none;}

.company {
  color: #d20019;
  font-weight: bold;
}
.clear {
  clear: both;
  display: block;
}
.big {font-size: 1.2em; color: #5ea0ad;}

fieldset {width: 90%}

#content a#signup_link {float:left;clear:both;white-space:nowrap;}

form#signup, form#signup label, form#signup input, #signup strong, #signup p, #signup select, #signup small #content #errorExplanation { float: left;}

form#signup label, form#signup input, #signup li {margin: 5px 0}

form label {
  width: 10em;
  display: block;
  clear: left;
  text-align: right;
  padding-right: 1em;
}
#domain {
  padding-left: 1em;
  padding-right: 0
}
strong { margin-top: .5em;}

#signup label strong {float:none}

#signup p { margin-left: 11em;clear:both;}

#signup #agreement p, #signup #personal_agreement p {float:none; margin: 0 0 1em}

#signup hr {visibility: none;}

#signup fieldset hr {visibility: visible;}

#signup fieldset {width: 650px;}

small {margin-top: 10px}

#content #errorExplanation {min-height: 0; width: 90%;}

#public #content div#reasons {
  width: 90%;
  background: #f8f8ff;
  margin: 1em 0 0 0;
  border: 2px solid #66aebd;
  color: #4a7f8a;
  padding: 0 16px 1em 16px;
}
#public h3 {margin-top: 1em;}

#public div#secondary {width: 32%; margin-top: 2.5em;}

#public #secondary h2 {margin-bottom: 0.8em;}

#public #secondary li {padding: 0.5em 0; list-style: disc inside;}

#public #secondary ol li {list-style: decimal inside;}

#public ol span {color: #000;}

#public ol span.company {color: #d20019;}

#uses h3 {margin: 1em 0}

#public dl {margin-bottom:2em}

#public dt {font-weight:500;color: #66aebd;float:left;padding-right:0.5em} 

#public .tagline {clear:left;margin:0 auto;width: 37%} 

#public #content {width: 90%;} 

#public #content_wrap {font-size:medium;}

#public h2 {margin: 1em 0}

#content #password_wrapper {clear:both; margin-left: 11em;float:none}

#content #password_wrapper div {width: auto;float:none;min-height: 0}

#public ol li {list-style: decimal inside}

#public dl#questions dd {margin-bottom: 1em;}

#content div.authenticity {
  display: inline;
  margin: 0;
  padding: 0;
  min-height: 0;
  width: 0;
}
