fieldset div.dateBocks{ float: left;}

div.dateBocks div {
  float: left;
  padding: 0 5px;
  font-size: 0.75em;
}
div.dateBocks ul {white-space: nowrap;}

div.dateBocks div.fieldWithErrors input {font-size: 1.333em}

div.dateBocks div.error { color: red;}

div.dateBocks input.error { background-color: pink;}

div.dateBocks label {
  float: left;
  padding-bottom: 1em;
  width: 3.5em;
}
div.dateBocks li {
  display: inline;
  padding: 5px;
}
td div.dateBocks li {
  padding: 5px 10px 5px 0;
}
.line div.dateBocks li { margin: 0;}

div.dateBocks a {
  padding: 5px;
  display: block;
  float: left;
}
div.dateBocks input { width: 5.5em;}

div.dateBocks img {
  cursor: pointer;
  padding: 0;
}
.hide { display: none; /*show w js so non-js aren't confused by icons they can't use*/}

div.dateBocks label { width: auto;}

.uniform div.dateBocks label { width: 7em;}

#rollbook_index .dateBocks label { width: 30px;}