   <label for="assignment_scale_grades" title="For instance, if you double the assignment point value, check this box to double the scores earned on the assignment">Scale scores?</label><%= check_box("assignment", "scale_grades") %>
