 <h2>Related Topics</h2>
 <p>These links are to general information about the site, not help on any specific page.</p>
 <ul>
  <li><%= link_to "Assignments", '/help/assignments' %></li>
  <li><%= link_to "Gradebooks", '/help/gradebooks' %></li>
 </ul>
 <hr/>
