<div id= 'content'>
<h1>Term Setup</h1>
<p>Before we get started, It&#8217;s important that you understand my use of some terms. For example,</p>
<dl id='para_def'>
<dt>Term</dt>
<dd>&#8212;the length of time a typical student is enrolled in a class. Common term lengths are a school year or summer school in secondary education, and semesters or quarters at the college level. It&#8217;s important to note that I am the <a href="http://en.wikipedia.org/wiki/Academic_term">only person in the world</a> who uses the word &#8220;term&#8221; this way. Most people say there are several &#8220;terms&#8221; in one &#8220;academic year&#8221;. So why don&#8217;t I just say &#8220;academic year&#8221;? Well, what would I call summer school? And what about colleges, where students and teachers can have completely different classes between the fall and spring terms of one academic year? I didn&#8217;t know, either, so I used the word &#8220;term&#8221;. Classes in a term are organized into</dd>
<dt>Tracks</dt>
<dd>&#8212;in American public education, <span title = 'glad I got over that lisp'>some schools have students attend on a staggered schedule</span>. Each track attends classes on its own schedule, which means each track may have its own</dd>
<dt>Marking Periods</dt>
<dd>&#8212;subdivisions of a term, at the end of which grades are reported. Of course, most of the world uses the word &#8220;term&#8221; to mean what American public schools (and I) mean by the phrase &#8220;marking period&#8221;. If you are a visitor from a foreign land, I apologize for any confusion. In my usage, the marking period grades are the primary grades reported to parents and students as</dd>
<dt>Marks</dt>
<dd>&#8212;the official grades sent home at the end of each marking period. Marks may include both marking period grades and other cumulative scores such as semester, final exam, or year-end grades.</dd>
</dl>

<p>Now that we're clear on that, go on and <%= link_to "begin term setup.", new_term_path %>
</p>
</div>
<div id = 'secondary'>
<div class="notice">
<h2>Summary:</h2>
<p>In the forms on the next three pages, you will set up a term, giving structure to your classes by defining</p>
<ul>
  <li>the <strong>number of tracks</strong> in the upcoming term,</li>
  <li>the <strong>number of marking periods</strong> during the term,</li>
  <li>the <strong>start and end dates</strong> of each marking period for each track, and</li>
  <li>any <strong>marks</strong> for the term beside the marking period grades.</li>
</ul>
</div>
<%= initial %>
</div>
