<% @page_title = 'Assignment' %>
<div id="content">
 <h1>Assignment Help Page</h1>
 <p>The <em>assignment</em> page gives you all the information your teacher has entered about one particular assignment.</p>
</div>
