<% @page_title = 'Editing a Teacher Account' %>
<div id="content">
 <h1>Help Editing a Teacher</h1>
 <p>You can edit a teacher&#8217;s name and title to correct typos.</p>
 <h2>Resetting a Password</h2>
 <p>You can <strong>reset</strong> a teacher&#8217;s login and password for someone who has forgotten how to log in. The reset function sets the teacher&#8217;s login and password to the full name in lowercase, so <em>Don Wilhour</em> would have his login and password reset to <code>donwilhour</code>.</p>
 <h2>Removing a Teacher</h2>
 <p>It is possible to delete a teacher&#8217;s account on the edit page. Deleting a teacher account will destroy all records of that teacher&#8217;s classes, including all assignments, and all grades students earned on those assignments.</p>
</div>
<div id="secondary">
 <h2>Other Questions?</h2>
 <p>If there is something else you want to ask about editing teacher accounts, try the <%= link_to "help forums", forums_path('help') %> for Little<span class='company'>Red</span>Brick tech support.</p>
</div>
