<% @page_title = 'Adding a Teacher' %>
<div id="content">
 <h1>New Teacher Help Page</h1>
 <p>Every teacher who logs in must have an account created for him. To add a new teacher account, type the teacher&#8217;s name, login, and password. An ID number and email address are optional. Don&#8217;t worry about making the password too hard to crack, because the teacher will be asked to change it the first time he logs in.</p>
 <h2>Adding Classes</h2>
 <p>After you have created the teacher account, you will be sent back to the <em>teacher list</em> page, where the new teacher&#8217;s name will appear along with a link to give the teacher classes. You can also pass the login information to the teacher, and the teacher can set up classes.</p>
</div>

<div id="secondary">
 <h2>Other Questions?</h2>
 <p>If there is something else you want to ask about adding teacher accounts, try the <%= link_to "help forums", forums_path('help') %> for Little<span class='company'>Red</span>Brick tech support.<p>
</div> 
