<% @page_title = 'Editing Events' %>
<div id="content">
 <h1>Editing Events Help Page</h1>
 <p>You can change any aspect of an event you created.</p>
</div>
<% if current_user.is_a?Staffer %>
<div id="secondary">
  <%= render 'help/page/shared/tech_support', :subject => 'editing events' -%>
</div>
<% end %>
