<% @page_title = 'Calendar' %>
<div id="content">
 <h1>Calendar Help Page</h1>
 <p>The <em>calendar</em> page shows a monthly calendar of events. To see more information about any one event, click its name. To see more information about a day&#8217;s events, click the date. You can add events to the calendar yourself too.</p>
</div>
<% if current_user.is_a?Staffer %>
<div id="secondary">
  <%= render 'help/page/shared/tech_support', :subject => 'the calendar' -%>
</div>
<% end %>
