<% @page_title = 'Event' %>
<div id="content">
 <h1>Event Help Page</h1>
 <p>This page shows everything there is to know about an event. I mean, not <em>this</em> page. The last one. This is a help page. Which I realize isn&#8217;t very helpful.</p>
</div>
<% if current_user.is_a?Staffer %>
<div id="secondary">
  <%= render 'help/page/shared/tech_support', :subject => 'calendar events' -%>
</div>
<% end %>
