<% @page_title = 'Adding a Department' %>
<div id="content">
 <h1>Adding a Department Help Page</h1>
 <p>The only things you have to say about a new department are its name and the names of its subjects. If there aren&#8217;t enough text boxes to fit all the subject names, click the <code>New Subject</code> link to make more. Any text box you leave blank will be ignored.</p>
 <h2>Creating Classes</h2>
 <p>Once you have created a department and subjects, you can create classes of those subjects by going to a <em>teacher</em> page and clicking the <code>Edit teaching load</code> link.</p>
</div>
<div id="secondary">
  <%= render 'help/page/shared/tech_support', :subject => 'creating departments' -%>
</div>
