<% @page_title = 'Adding a Moderator' %>
<div id="content">
 <h1>Adding a Moderator Help Page</h1>
 <p>Not much to say here.</p>
</div>
<div id="secondary">
  <%= render 'help/page/shared/discussion_related' -%>
  <%= render 'help/page/shared/tech_support', :subject => 'adding forum moderators' -%>
</div>
