<% @page_title = 'Editing a Mark' %>
<div id="content">
 <h1>Editing a Mark Help Page</h1>
 <p>When you edit a mark, you can change its name.</p>
 <h2>You Cannot Edit a Marking Period Here</h2>
 <p>Since marking periods can be more complicated, because they have dates, if you need to edit a marking period you must do so through the links on the term page.</p>
</div>
<div id="secondary">
  <%= render 'help/page/reported_grades/related' -%>
 <%= render 'help/page/shared/tech_support', :subject => 'marks' -%>
</div>

