<noscript>
<% if params[:school] %>
 <h3>Your plan is Free</h3>
 <p><span class="highlight">You can allow all of your students, their parents, and any of your school's administrators access to the account you are setting up.</span> Parents may only see grade and assignment information for their own children, and students may only see information about themselves.</p>
 <h3>You can upgrade to let your entire school use the service at any time</h3>
 <p>If other teachers at your school would like to sign up with you, teacher accounts can be created at a cost of $10/month, per teacher. You will not have to pay sign-up fees or cancellation fees, or sign long-term contracts.</p>
 <h3>You will log in at this address</h3>
 <p>http://<%= params[:school][:domain_name] %>.littleredbrick.com</p>
<% else %>
<p>Click here to review the details of the site you are creating.</p>
<%= submit_tag("Review Site") %>
<% end %>
</noscript>
