<% @page_title = 'Finding the School' %>
<div id="content">
 <h1>School Search Help Page</h1>
 <p>You really should never need to see this page, because it&#8217;s only supposed to be accessible from the school search page - and if you can see a help link, you have already found your school.</p>
</div>
