<% @page_title = 'Moderators' %>
<div id="content">
 <h1>Moderator Help Page</h1>
 <p>The <em>moderator</em> page lists every forum participant who is allowed to edit or remove other people&#8217;s posts. You can give moderatorship privileges to any forum participant or remove them from any moderator in any forum you create.</p>
</div>
<div id="secondary">
  <%= render 'help/page/shared/discussion_related' -%>
  <%= render 'help/page/shared/tech_support', :subject => 'forum moderators' -%>
</div>
