<tr>
  <td>
<label for='this'>Add to this section:</label><%= radio_button_tag :add, :this, 'this', :id => 'this', :class => 'radio' %>
<label for='all' id = 'last'>Add to all my <%= @this_section.name %> classes:</label><%= radio_button_tag :add, :all, 'all', :id => 'all', :class => 'radio' %></td>
</tr>
