<%= image_tag('help/section.png', {:alt => 'description', :size => '178x328', :style => 'float:right'}) %>
<ol style="width:600px">
 <li><span class="annotation">Average grade</span> for the class during the marking period. By default this is the current marking period, but it is possible to view earlier grades (see below).</li>
 <li><span class="annotation">Grade distribution</span> graphical representation of student grades according to the grade scale for the class. The default grade scale is shown here; teachers may choose to change it.</li>
 <li><span class="annotation">Number of assignments</span> for the marking period. The link is to the <em>assignment summary</em> page, which lists class average and other information for user-selected assignments.</li>
 <li><span class="annotation">Point distribution</span> of assignments for the marking period, in the categories defined by the teacher when the assignments were created.</li>
 <li><span class="annotation">Assignment details</span> for the most recently graded assignment and the next upcoming assignment, and links to the <em>assignment detail</em> about each.</li>
 <li><span class="annotation">Class Discussions</span> Indications of the activity level in the <em>discussion group</em> for the class.</li>
</ol>
