<div id="content">
<h1><%= @page_h1 = "Administrators" -%></h1>
This subdivision is designed to manage admin accounts. The four basic tasks in account management are
<ol>
 <li>Creating new accounts</li>
 <li>Viewing account-related information</li>
 <li>Editing accounts</li>
 <li>Deleting unused or outdated accounts</li>
</ol>
<h2>Creating Accounts</h2>
<p>To create a new Administrator account, enter a name. It is also possible to grant admin privileges to a teacher, if that teacher has already been given a Teacher account. A teacher with admin privileges retains all the teacher prerogatives, and may do almost all the same things as someone with an Administrator account (except access the Administrator-only <%= link_to "discussion groups", :action => 'discussions' %>).</p>
<h2>Viewing Accounts</h2>
<p>The only data stored with admin accounts are the account owner's name and login history.</p>
<h2>Editing Accounts</h2>
<p>The editable features of an admin account are the user's name, ID number, and title (Dr/Mr/Mrs/Ms/Sir/etc). An account can also be edited to reset the user's login and password to match the user's full name in lowercase ("Mike Golic" => "mikegolic"). That feature is provided in case an administrator forgets his password.</p>
<h2>Deleting Accounts</h2>
<p>Deleting an Administrator account means that account can no longer be used to log in to the system. Like Fredo midway through Godfather II, that account becomes dead to us. By contrast, removing admin privileges from a teacher account does not affect that teacher's ability to log in <i>as a teacher</i>, maintain gradebooks, and otherwise use the site, it only prohibits the teacher from accessing the admin-specific functions of the site.</p>

What's the worst that can happen:
<p>You really can't do much harm here. Even if you accidentally delete an administrator account, you can create a new one with the same details. All that would be lost are any events that person put on the <%= link_to "calendar", :action => 'calendar' %>.</p>
<p>You cannot delete your own account.</p>
</div>
<div id="secondary">
<h2>How to Get Here</h2>
<p><%= link_to "Admin tab", :action => 'tabs' %> > Administrators</p>
<h2>Who Can Get Here</h2>
<p>Administrators and teachers with admin privileges</p>
</div>
