<div id="content">
<h1><%= @page_h1 = "Course Catalog" -%></h1>
<h2>(Academic Departments)</h2>
<p>The catalog provides teachers and administrators with a quick overview of <strong>enrollment</strong> and subject-specific <strong>class performance</strong> information. The front page of the catalog section lists the enrollment of every department at your school, and the number of sections of each subject. Clicking the name of a department provides an additional level of detail, the teacher and enrollment of every section of every subject in the department. Clicking on either a subject name or a section&#8217;s teacher&#8217;s name lets you see the real power of this system.</p>
</div>
<div id="secondary">
</div>
