<div id="content">
<h1><%= @page_h1 = "School" -%></h1>
<p>The school page has a summary of important facts about the current academic term and the small amount of school-specific information held in Little<span class='company'>Red</span>Brick: the school's name, domain, grade range, and number of teacher accounts. The name, domain, and grade range are all editable by anyone with admin privileges for your school. However, you should never change the domain unless you are confident you are the only user from your school. The subdomain name is the prefix for the web address (like the 'www' in 'www.website.com'), and if it is changed, no one will be able to log in unless they go to the new page.</p>
</div>
