<div id="content">
<h1><%= @page_h1 = "Student Detail" -%></h1>
<p>The student detail page provides a wealth of information about one student's performance in one class. On one page, you can see the following information for a single student:</p>
-marking period grade
-class rank
-points earned per assignment category
-grade progression during the marking period
-scores on recently graded assignments
-upcoming assignment information
-recent posts by the student to any topics in the section's discussion group
</div>
