<div id="content">
 <h1><%= @page_h1 = "Tips" -%></h1>
 <p>Some help items are embedded in each page. If a term is unfamiliar, try pointing your mouse at it. You may get a hint as to what the item means.</p>
 <p>Most tables can be sorted by column. Click on a column header to sort the table. Click twice to sort in the reverse direction.</p>

</div>
