<% @page_title = 'Student Marks' %>
<div id="content">
 <h1>Student Marks Help Page</h1>
 <p>The <em>student marks</em> page lists all of a student&#8217;s marking period grades for one class, as well as any other grades that do not fall within a marking period, like semester, final exam, or cumulative marks.</p>
 <h2>Links</h2>
 <p>The <em>student performance</em> page can show performance by assignment category and over time for any specified marking period. On the <em>student marks</em> page, each marking period is a link to the <em>student performance</em> view for that marking period.</p>
</div>
<div id="secondary">
 <h2>Other Questions?</h2>
 <p>If there is something else you want to ask about understanding a student&#8217;s marks, try the <%= link_to "help forums", forums_path('help') %> for Little<span class='company'>Red</span>Brick tech support.</p>
</div>
