<div id="content">
 <h1>Class Enrollment Help Page</h1>
 <p>There are three ways to enroll students in classes, two of which are presented on this page.</p>
 <h2>Enrolling One Student</h2>
 <p>If you need to add one student to a class, type his name into the box on the left and press <code>Enter</code>. If the student already has an account, he will be enrolled in the class. If not, you will be given a link to create a student account.</p>
 <h2>Copying Students from a List</h2>
 <p>If you have a file with a list of students to be enrolled in the class, you can copy and paste into the form on the right. Make sure you enter one student per line.</p>
 <h2>Enrolling Students in Multiple Classes</h2>
 <p>If you have a spreadsheet with enrollment data for multiple classes, click the link on the right for instructions on how to upload it.</p>
</div>
