<div id="content">
 <h1>Enrollment Help Page</h1>
 <p>A list of one or more students with the name you entered should have been provided to you. Check the student who you want to enroll in the class. If no students were found, you will need to create a student account.</p>
</div>
