<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Float-less fluid layout with min-max width</title>            
<style type="text/css">
/****************************************************************************************
* Float-less Layouts :: version 1.0 :: Copyright (c) Thierry Koblentz :: TJK Design.com *                  *
* http://tjkdesign.com/articles/css-layout/no_div_no_float_no_clear_no_hack_no_joke.asp *
****************************************************************************************/
span {color:#555;white-space:normal;}
/* hard reset */
* {margin:0;padding:0;}
/* to center the layout in IE 5 */
body {text-align:center;}
/* to reset the text-alignment, remove bullets on the LIs (IE Mac, Safari) and center the main container in good browsers */
#wp {text-align:left;margin:0 auto;list-style:none;}
/* we treat the LI that contains the UL with the three colums as a table */
#bd {display:table;}
#doc {display:table-row;}
#s1,#s2,#s3 {display:table-cell;}
/* for IE */
#s1,#s2,#s3,{display:inline;zoom:1;vertical-align:top;}
/* for Mac */
/*\*//*/ 
#s1,#s2,#s3 {display:inline-block;float:left;}
#ft {clear:left;}
/**/
/* borders for "good" browsers */
#hd {border-bottom:1px dotted #555;}
#s1 {border-right:1px dotted #555;}
#s3 {border-left:1px dotted #555;} 
#ft {border-top:1px dotted #555;}
/* in IE, borders on "s1" and "s3" would make a column drop */
#s1,#s3 {*border:0;}
/* borders for IE Win */
/* Hides from IE-mac \*/
#bd,#doc,{border-right:1px dotted #555;}
#bd,#s1,#s2,#s3,{position:relative;}
/* end hide from IE-mac */
/* preventing breakage */
#bd {table-layout:fixed;}
#bd {_word-wrap:break-word;}
#s1,#s2,#s3 {_overflow-x:hidden;}
/* creating some "padding" */
#hd,#s1,#s2,#s3,#ft {padding:15px 0;}
#hd *,#s1 *,#s2 *,#s3 *,#ft * {padding:15px 15px 0 15px;}
h2 {font-size:.9em;}
/* setting widths in "%" */
#wp,#bd {width:100%;}
/* all widths add up (100% = 20% + 60% + 20%) */
#s1 {width:20%;}
#s2 {width:60%;}
#s3 {width:20%;}
/* IE Win only: trick to create the background columns or borders */
/* Hides from IE-mac \*/
#bd,#s1,#s2,#s3,{position:relative;}
#bd,{width:80%;}
#doc,{width:25%;}
#s1,{width:100%;}
#s2,{width:300%;margin-right:-300%;}
#s3,{width:100%;}
#s3,{margin-right:-300%;right:-300%;}
/* end hides from IE-mac */
#wp {min-width:820px;max-width:1200px;}
</style>
<!--[if lt IE 7]>
<script type="text/javascript" defer="defer">
function ieMinMax(){
	if(document.compatMode && document.compatMode=='CSS1Compat'){
		document.getElementById("wp").style.setExpression("width","documentElement.clientWidth < 820 ? '820px' : documentElement.clientWidth > 1200? '1200px' : '100%'");
	}else{
		document.getElementById("wp").style.setExpression("width","document.body.clientWidth < 820 ? '820px' : document.body.clientWidth > 1200? '1200px' : '100%'");
	}
   document.recalc(false);
}
window.onload=ieMinMax;
</script>
<![endif]-->
</head>
<body>

<ol id="wp">
	<li id="hd"><h2>Header</h2>
<p><a href="/articles/float-less_css_layouts.asp">Back to the artilce</a><br />Vel fuisset abhorreant ne, mollis voluptua mediocritatem ut sea, sea sale labore ullamcorper an. Et eos possim perpetua, id partem gloriatur sea. Eu sit quem possim, modus oratio te pro? An pri accumsan evertitur rationibus, cum ei iriure constituto. At per soluta lucilius phaedrum.</p>
    </li>
	<li id="bd">
		<ol id="doc">
        	<li id="s1"><h2>Section 1</h2>
<p>Vel fuisset abhorreant ne, mollis voluptua mediocritatem ut sea, sea sale labore ullamcorper an. Et eos possim perpetua, id partem gloriatur sea. Eu sit quem possim, modus oratio te pro? An pri accumsan evertitur rationibus, cum ei iriure constituto. At per soluta lucilius phaedrum.</p>
            </li>
			<li id="s2"><h2>Section 2</h2>
			  <pre>
&lt;style type=&quot;text/css&quot;&gt;
* {margin:0;padding:0;}

<span>/* to center the layout in IE 5 */</span>
body {text-align:center;}
<span>/* to reset the text-alignment, remove bullets on the LIs (IE Mac, Safari) and center the main container in good browsers */</span>
#wp {
  text-align:left;
  margin:0 auto;
  list-style:none;
}
<span>/* we treat the LI that contains the UL with the three colums as a table */</span>
#bd {display:table;}
#doc {display:table-row;}
#s1,#s2,#s3 {display:table-cell;}
<span>/* for IE */</span>



	      </li>
			<li id="s3"><h2>Section 3</h2>
<p>Ut tota exerci oportere nam, mucius vivendo est no. Qui an postea iriure dolorum, graecis conceptam scriptorem eos at, eripuit bonorum neglegentur eu usu? Sit id rebum epicuri consectetuer, iusto incorrupte pro cu, nec ea propriae hendrerit! Cibo fastidii sea ne, nam ex equidem lucilius expetendis, sit mazim harum adipiscing cu.</p>
		  </li>
		</ol>

	</li>
	<li id="ft"><h2>Footer</h2>
<p>Vel fuisset abhorreant ne, mollis voluptua mediocritatem ut sea, sea sale labore ullamcorper an. Et eos possim perpetua, id partem gloriatur sea. Eu sit quem possim, modus oratio te pro? An pri accumsan evertitur rationibus, cum ei iriure constituto. At per soluta lucilius phaedrum.</p>
    </li>
</ol>
</body>
</html>

