<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"> 
<html> 
<head> 
  <%= render(:partial => "layouts/header") %> 
  <!-- Source File --> 
  <style>
  html {height: 100%}
  .wrapper {/*this was .wrapper, but I want to avoid more names*/
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
  }
  .footer, .push { height: 4em;}
  </style>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.6.0/build/reset-fonts-grids/reset-fonts-grids.css"> 
</head> 
<body id="logged_out"> 
 <div id="doc4"> 
  <div id="hd">
      <div id="logo">Little Red Brick: Schools Online Simply</div>
      <div id="side_logo"></div>
  </div>  
  <div id="bd" class="wrapper">
      <%= yield %>
   <div class="push"><!--part of stationary footer markup --></div>
  </div>  
  <div id="ft" class="footer">&#169; 2008 Little<span class='company'>Red</span>Brick</div>  
</div> 
</body> 
</html>
